
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import '../../shared/styles/shared.scss';
@import '../../shared/styles/colors.scss';
@import '../../shared/styles/buttons.scss';
@import '../../shared/styles/menu.scss';

body > * {
    font-family: 'Roboto', sans-serif;
}

.content { 
    width: 100vw;
    height: 100vh;
    max-width:100%;
    max-height: 100%;
    background-color: $background-gray;
    // background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    padding-top: 1px;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .divider {
        margin: 15px;
        font-size: 17px;
        color: $text-black;
    }
}

.parallelogram {
    border: 2px solid #cead78;
    width: 130px;
    height: 65px;
    transform: skew(160deg);
    background: #003153;
    margin: 1em;
    margin-left: 8%;
    box-shadow: 10px 10px 5px grey;
    color: #cead78;
    text-align: center;
  }
  
  .block-display {
    display: flex;
  }

  .h2 {
      padding: 100px;
  }

  hr.style1 {
    border:none;
    width: 80%;
    padding: 10%;
    margin-top: 0;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    margin: -50px auto 10px; 
  }

  a{
      color: #cead78;
      text-decoration: none;
  }

  .c-hero-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    @media (max-width: 960px)
    {
      flex-flow: column nowrap;
      &__item {
        width: 100%;
      }
    }
    
    &__item {
      flex-grow: 1;
      background: #ccc;
      // height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: bottom left;
      background-size: cover;
      padding-bottom: 20px;
      padding-left: 20px;
    //   box-shadow: inset 0 0 0 100vmax rgba(0,0,0,.5);
      transition: .2s all;
      cursor: pointer;
      @media (min-width: 961px)
      {
        height: 100%;
      }
      
      &:hover {
        flex-grow: 2;
        // box-shadow: inset 0 0 0 100vmax;
      }
      
      &:nth-child(1) {
        background: #222 url(https://i.imgur.com/z9OpLz9.png) no-repeat center center;
      }
      
      &:nth-child(2) {
        background: #aca093 url(https://i.imgur.com/sHoNoXP.jpg) no-repeat center center;
      }
      
      &:nth-child(3) {
        background: #222 url(https://i.imgur.com/oA3GC3B.jpg) no-repeat center center;
      }

      &:nth-child(4) {
        background: #222 url(https://i.imgur.com/Po4XQrg.jpg) no-repeat center center;
      }
    }
    
    &__title {
      letter-spacing: .075em;
      color: #fff;
      transition: .2s all;
      font-size: small;
    }
}