.button {
    border: none;
    padding: 10px 20px;
    min-width: 50px;
    background-color: white;
    border-radius: 23px;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.button-large {
    min-width: 80%;
}