
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import '../../shared/styles/shared.scss';
@import '../../shared/styles/colors.scss';
@import '../../shared/styles/buttons.scss';
@import '../../shared/styles/menu.scss';

body > * {
    font-family: 'Roboto', sans-serif;
}

.content { 
    width: 100vw;
    height: 100vh;
    max-width:100%;
    max-height: 100%;
    background-color: $background-gray;
    // background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    padding-top: 1px;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .title {
        font-size: 20px;
        font-weight: 900;
        color: $text-black;
        margin: 20px 0px;
        padding: 0px 20px;
    }

    .cards {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

        .card {
            width: -webkit-fill-available;
            padding: 20px 20px;
            background-color: white;
            border-radius: 15px;
            margin: 5px 10px;
            
        }
    }
}

