
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import '../../shared/styles/shared.scss';
@import '../../shared/styles/colors.scss';
@import '../../shared/styles/buttons.scss';
@import '../../shared/styles/menu.scss';
body > * {
    font-family: 'Roboto', sans-serif;
}

.content { 
    width: 100vw;
    height: 100vh;
    max-width:100%;
    max-height: 100%;
    background-color: $background-gray;
    // background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    padding-top: 1px;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("/museum-house.svg");
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: bottom;

    margin-bottom: 25px;

    .museums {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title {
        font-size: 20px;
        font-weight: 900;
        margin: 20px;
        margin: 20px auto;
    }

    .subtitle {
        font-size: 17px;
        padding: 20px;
    }
}

.parallelogram {
    border: 2px solid $border-black;
    width: 130px;
    height: 65px;
    transform: skew(160deg);
    background: white;
    margin: 1em;
    margin-left: 8%;
    color: $text-black;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-box-shadow: 10px 13px 6px 1px rgba(212,212,212,1);
    -moz-box-shadow: 10px 13px 6px 1px rgba(212,212,212,1);
    box-shadow: 10px 13px 6px 1px rgba(212,212,212,1);
  }
  
  .block-display {
    display: flex;
  }

  .h2 {
      padding: 100px;
  }

  .line {
    border:none;
    width: 65%;
    padding: 10%;
    margin-top: 0;
    border-bottom: 1px solid $border-gray;
    margin: -50px auto 10px; 
  }

